/* SKILLS */
/* React */
.fa-react:hover {
  color: rgba(97, 218, 251, 1);
}

/* jQuery */
.fa-jQuery:hover {
  color: rgba(8, 104, 171, 1);
}


/* bootstrap */
.fa-bootstrap:hover {
  color: rgba(121, 82, 179, 1);
}


/* sass */
.fa-sass:hover {
  color: rgba(191, 64, 128, 1);
}


/* git  */
.fa-git-alt:hover {
  color: rgba(250, 78, 40, 1);
}

/* javascript */
.fa-js:hover {
  color: rgba(240, 219, 79, 1);
}

/* git */
.fa-git-alt:hover {
  color: rgba(250, 78, 40, 1);
}

/* html5 */
.fa-html5:hover {
  color: rgba(241, 101, 41, 1);
}


/* css */
.fa-css3-alt:hover {
  color: rgba(41, 101, 241, 1);
}

/* java */
.fa-java:hover {
  color: rgba(248, 153, 23, 1);
}

/* python */
.fa-python:hover {
  color: rgba(52, 111, 160, 1);
}

/* c++ */
.fa-cplusplus:hover {
  color: rgba(34, 139, 227, 1);
}

/* adboxexd */
.fa-adobexd:hover {
  color: rgba(255, 33, 92, 1);
}

/* c++ */
.fa-gimp:hover {
  color: rgba(103, 96, 78, 1);
}


/* SOCIAL MEDIA */
